In [1]:
import pandas as pd

In [2]:
hematology = pd.read_csv('../Resources/hematology.csv')
chemistry = pd.read_csv('../Resources/chemistry.csv')
bloodgas = pd.read_csv('../Resources/blood_gas.csv')

In [6]:
hematology_tidy = pd.pivot_table(hematology, index=['SUBJECT_ID','HADM_ID','CHARTTIME'],values='VALUENUM',columns='LABEL')

In [8]:
chemistry_tidy = pd.pivot_table(chemistry, index=['SUBJECT_ID','HADM_ID','CHARTTIME'],values='VALUENUM',columns='LABEL')

In [11]:
bloodgas_tidy = pd.pivot_table(bloodgas, index=['SUBJECT_ID','HADM_ID','CHARTTIME'],values='VALUENUM',columns='LABEL')

In [14]:
data = hematology_tidy

In [16]:
data = data.merge(chemistry_tidy, left_index=True, right_index=True, how='outer')

In [17]:
data = data.merge(bloodgas_tidy, left_index=True, right_index=True, how='outer')

In [22]:
data.to_csv('../Resources/labs.csv')

In [23]:
data.head()

LABEL                                    Absolute CD3 Count  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                 NaN
                    2138-07-17 21:10:00                 NaN
                    2138-07-20 06:30:00                 NaN
3          145834.0 2101-10-20 16:40:00                 NaN
                    2101-10-20 16:49:00                 NaN

LABEL                                    Absolute CD4 Count  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                 NaN
                    2138-07-17 21:10:00                 NaN
                    2138-07-20 06:30:00                 NaN
3          145834.0 2101-10-20 16:40:00                 NaN
                    2101-10-20 16:49:00                 NaN

LABEL                                    Absolute CD8 Count  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                 NaN
                    2138-07-17 21:10:00                 NaN
                    2138-07-20 06:30:00                 NaN
3          145834.0 2101-10-20 16:40:00                 NaN
                    2101-10-20 16:49:00                 NaN

LABEL                                    Absolute Lymphocyte Count  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                        NaN
                    2138-07-17 21:10:00                        NaN
                    2138-07-20 06:30:00                        NaN
3          145834.0 2101-10-20 16:40:00                        NaN
                    2101-10-20 16:49:00                        NaN

LABEL                                    Alpha Antiplasmin  Anisocytosis  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                NaN           NaN
                    2138-07-17 21:10:00                NaN           NaN
                    2138-07-20 06:30:00                NaN           NaN
3          145834.0 2101-10-20 16:40:00                NaN           NaN
                    2101-10-20 16:49:00                NaN           NaN

LABEL                                    Anticardiolipin Antibody IgG  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                           NaN
                    2138-07-17 21:10:00                           NaN
                    2138-07-20 06:30:00                           NaN
3          145834.0 2101-10-20 16:40:00                           NaN
                    2101-10-20 16:49:00                           NaN

LABEL                                    Anticardiolipin Antibody IgM  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                           NaN
                    2138-07-17 21:10:00                           NaN
                    2138-07-20 06:30:00                           NaN
3          145834.0 2101-10-20 16:40:00                           NaN
                    2101-10-20 16:49:00                           NaN

LABEL                                    Antithrombin  Atypical Lymphocytes  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00           NaN                   0.0
                    2138-07-17 21:10:00           NaN                   0.0
                    2138-07-20 06:30:00           NaN                   NaN
3          145834.0 2101-10-20 16:40:00           NaN                   0.0
                    2101-10-20 16:49:00           NaN                   NaN

LABEL                                   ...   Oxygen Saturation  PEEP  \
SUBJECT_ID HADM_ID  CHARTTIME           ...
2          163353.0 2138-07-17 20:48:00 ...                 NaN   NaN
                    2138-07-17 21:10:00 ...                 NaN   NaN
                    2138-07-20 06:30:00 ...                 NaN   NaN
3          145834.0 2101-10-20 16:40:00 ...                 NaN   NaN
                    2101-10-20 16:49:00 ...                 NaN   NaN

LABEL                                    Potassium, Whole Blood  Required O2  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                     NaN          NaN
                    2138-07-17 21:10:00                     NaN          NaN
                    2138-07-20 06:30:00                     NaN          NaN
3          145834.0 2101-10-20 16:40:00                     NaN          NaN
                    2101-10-20 16:49:00                     NaN          NaN

LABEL                                    Sodium, Whole Blood  Temperature  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                  NaN          NaN
                    2138-07-17 21:10:00                  NaN          NaN
                    2138-07-20 06:30:00                  NaN          NaN
3          145834.0 2101-10-20 16:40:00                  NaN          NaN
                    2101-10-20 16:49:00                  NaN          NaN

LABEL                                    Tidal Volume  pCO2  pH  pO2
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00           NaN   NaN NaN  NaN
                    2138-07-17 21:10:00           NaN   NaN NaN  NaN
                    2138-07-20 06:30:00           NaN   NaN NaN  NaN
3          145834.0 2101-10-20 16:40:00           NaN   NaN NaN  NaN
                    2101-10-20 16:49:00           NaN   NaN NaN  NaN

[5 rows x 244 columns]

In [25]:
len(set(bloodgas['LABEL']))

27

In [26]:
len(set(hematology['LABEL']))

173

In [27]:
len(set(chemistry['LABEL']))

154