In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
PRESCRIPTIONS = "../../Resources/PRESCRIPTIONS.csv"
PATIENTS = "../../Resources/PATIENTS.csv"

In [ ]:
Rx_df = pd.read_csv(PRESCRIPTIONS)
Rx_df.head()

In [ ]:
Rx_df['DRUG'].value_counts()

In [ ]:
Rx_df['DRUG'].hist()

In [ ]:
patient_df = pd.read_csv(PATIENTS)

patient_df = patient_df.drop(['ROW_ID'], axis=1)

patient_df.head()

In [26]:
join_df = Rx_df.merge(patient_df, on='SUBJECT_ID')

join_df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,...,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,2214776,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Tacrolimus,Tacrolimus,Tacrolimus,...,mg,2,CAP,PO,F,2109-06-21 00:00:00,NaN,NaN,NaN,0
1,2214775,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Warfarin,Warfarin,Warfarin,...,mg,1,TAB,PO,F,2109-06-21 00:00:00,NaN,NaN,NaN,0
2,2215524,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Heparin Sodium,NaN,NaN,...,UNIT,1,BAG,IV,F,2109-06-21 00:00:00,NaN,NaN,NaN,0
3,2216265,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,BASE,D5W,NaN,NaN,...,ml,250,ml,IV,F,2109-06-21 00:00:00,NaN,NaN,NaN,0
4,2214773,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Furosemide,Furosemide,Furosemide,...,mg,1,TAB,PO,F,2109-06-21 00:00:00,NaN,NaN,NaN,0